<div class="display-chat">
    <div class="chat-header">
        <span class="user-icon"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></span>
        <span>{{chatGroup?.name}}</span>
        <span (click)="deleteChat()"><i class="fa-sharp fa-solid fa-trash  trash-icon"></i></span>
    </div>
    <div class="messages">

    </div>
    <div class="send-message">
        <i class="fa-solid fa-user-secret fa-1x toggle-icon"></i>
        <input type="search" name="" id="" placeholder="Type a message" >
    </div>
</div>